/**
 *  Crypto Monitor – Main CSS File
 * ================================
 *  Created 2017-05-19
 */

body {
    padding: 40px;
    font-size: 15px;
}

h1 {font-size: 2.00em; margin: 0em 0em 0.4em 0em;}
h2 {font-size: 1.50em; margin: 0em 0em 0.4em 0em;}
h3 {font-size: 1.15em; margin: 0em 0em 0.4em 0em;}
h4 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}
h5 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}
h6 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}

a       {color: #00aa00; text-decoration: none;}
a:hover {color: #00aa00; text-decoration: underline;}

/**
 *  Header
 */

#header {
    border-bottom: 1px solid #000000;
}

#header h1 {
    margin: 0;
}

#main-menu {
    /*background-color: #f0f0f0;*/
    margin-bottom: 12px;
}

#main-menu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    display: inline-block;
    padding: 4px 8px;
}

#main-menu ul li:hover {
    background-color: #dddddd;
}

/**
 *  Mining Data
 */

.pool-stats {
    max-width: 400px;
    /*border: 1px solid #999999;*/
    display: inline-block;
    margin: 0 20px 20px 0;
}

.pool-stats h2 {
    margin: 4px 0 8px 0;
}
.pool-stats h3 {
    margin: 8px 0 4px 0;
}

.pool-stats div b {
    width: 105px;
    display: inline-block;
}


.plot {
    width: 1000px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
}

.latest-earnings {
    border: 1px solid #666666;
}

.latest-earnings td {
    padding: 4px;
}

.values {
    font-family: 'Source Code Pro', monospace;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.green {
    color: #009900;
}

.red {
    color: #990000;
}

@media screen and (max-width: 500px) {

    body {
        padding: 4% 2%;
    }
}
